<md-dialog aria-label="<%= I18n.t "folders.new.create_folder" %>">
  <form ng-cloak name="form">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><%= I18n.t "folders.new.create_folder" %></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hide()">
          <md-icon md-font-icon="fa fa-close"
            aria-label="<%= I18n.t "folders.new.close_dialog" %>"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content folder-new">
        <md-content layout-padding layout="column">
          <p class="text-center text-danger" ng-if="form.$invalid">
            <%= I18n.t "folders.new.rule" %>
          </p>
          <md-input-container class="md-block">
            <label><%= I18n.t "folders.new.title" %></label>
            <input ng-model="folder.name" title="" required minlength="5">
          </md-input-container>
          <md-input-container>
            <label><%= I18n.t "folders.new.visible" %></label>
            <md-select ng-model="folder.permission" required>
              <md-option value="0">
                <%= I18n.t "folders.new.everyone" %>
              </md-option>
              <md-option value="1">
                <%= I18n.t "folders.new.only_me" %>
              </md-option>
            </md-select>
          </md-input-container>
        </md-content>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button type="submit" ng-click="create(folder)"
        ng-disabled="form.$invalid" class="md-raised md-primary" flex>
        <%= I18n.t "folders.new.create" %>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
