<div class="col-sm-10 col-sm-offset-1 ltt-subject">
  <h1>{{ subject.name }}</h1>
  <hr>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 col-sm-4">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch
        ng-click="flashCard()">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
              <i class="fa fa-window-restore" aria-hidden="true"></i>
            </span>
            <span class="md-subhead"><%= I18n.t "subjects.flash_card" %></span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 col-sm-4">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
          <span class="md-headline">
            <i class="fa fa-file-text" aria-hidden="true"></i>
          </span>
            <span class="md-subhead"><%= I18n.t "subjects.test" %></span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 col-sm-4">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
          <span class="md-headline">
            <i class="fa fa-object-ungroup" aria-hidden="true"></i>
          </span>
            <span class="md-subhead"><%= I18n.t "subjects.match" %></span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="row">
      <div class="col-sm-12">
        <h2>
          <%= I18n.t "subjects.there_are" %>{{ subject.words_limit.length }} / {{ subject.count_words }}
          <%= I18n.t "subjects.word" %>
        </h2>
      </div>
    </div>
    <div class="col-sm-12 custom-list">
      <md-list flex>
        <md-list-item class="md-3-line custom-list-item"
          ng-repeat="item in subject.words_limit" ng-click="show(item)">
          <div class="md-list-item-text" layout="column">
            <div class="row">
              <div class="col-sm-5 word"> {{item.word_content}} </div>
              <div class="col-sm-4 border-left word"> {{item.definition_content}} </div>
              <div class="col-sm-3 action">
                <md-button class="md-icon-button md-mini pull-right"
                  aria-label="1">
                  <i class="fa fa-fw fa-pencil"></i>
                </md-button>
                <md-button class="md-icon-button md-mini pull-right"
                  aria-label="2">
                  <i class="fa fa-fw fa-volume-up"></i>
                </md-button>
                <md-button class="md-icon-button md-mini pull-right"
                  aria-label="3">
                  <i class="fa fa-fw fa-star-o"></i>
                </md-button>
              </div>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" layout="column" layout-align="center">
      <md-button class="md-raised md-primary btn-lg"
        ng-click="loadMore()" ng-if="canLoadMoreData">
        <%= I18n.t "subjects.load_more" %>
      </md-button>
    </div>
  </div>
</div>
