<!DOCTYPE html5>
<html>
  <head>
    <title><%= t "app_name" %> - <%= t "slogan" %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <meta name="base" content="<%= root_path %>api/v1/">
  </head>
  <body ng-app="FlashGo">
    <%= render "layouts/header" %>
    <div class="container-fluid home">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
    <footer class="footer">
      <%= render "layouts/footer" %>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
