<!DOCTYPE html5>
<html>
  <head>
    <title><%= t "app_name" %> - <%= t "slogan" %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <meta name="base" content="<%= root_path %>api/v1/">
    <meta name="limit_word_record" content="<%= Settings.limit_word_record %>">
  </head>
  <body ng-app="FlashGo">
    <%= render "layouts/header" %>
    <div class="container-fluid home">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
